<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body dir="LTR">
        <ui:composition>

            <div class="col-sm-2 side_nav no_padding">
                <ul class="nav nav-pills nav-stacked nav-tree sidebar"  data-toggle="nav-tree">
                    <li>
                        <a href="#"  class=""  id="Data">  
                            
                            <span class="text" >
                                #{bundle.Adminsteation}
                            </span>
                            <span class="icon">
                                <img src="../resources/images/menu1.png" alt=""/>
                            </span>
                            <!--icon-->
                            <span class="icon_arrow">
                                <img src="../resources/images/arrow.png" alt=""/>
                            </span>
                            <!--icon-->
                        </a>
                        <ul class="nav nav-pills nav-stacked nav-tree">
                            <li>

                                <h:form>

                                    <h:commandButton action="./UploaadFiles.xhtml?faces-redirect=true"  value="#{bundle.UploadFiles}" class="active "   />
                                </h:form>



                            </li>
                            <!--li-->
                            <li>
                                <h:form>

                                    <h:commandButton action="./ReviseFiles.xhtml?faces-redirect=true"  value="#{bundle.CheckFiles}" class="active "  />
                                </h:form>

                            </li>
                            <!--li-->
                        </ul>
                        <!--ul-->
                    </li>
                    <!--li-->
                                 <li>
                        <a href="#"  class="" id="users">  
                            <span class="text" >
                                #{bundle.Users}
                            </span>
                            <span class="icon">
                                <img src="../resources/images/menu1.png" alt=""/>
                            </span>
                            <!--icon-->
                            <span class="icon_arrow">
                                <img src="../resources/images/arrow.png" alt=""/>
                            </span>
                            <!--icon-->
                        </a>
                        <ul class="nav nav-pills nav-stacked nav-tree">
                            <li>

                                <h:form >

                                    <h:commandButton  action="./CreateUser.xhtml?faces-redirect=true"  value="#{bundle.CreateUsers}" class="active "  />
                                </h:form>



                            </li>
                            <!--li-->
                            <li>
                                <h:form>

                                    <h:commandButton action="./CheckerPage.xhtml?faces-redirect=true"  value="#{bundle.EditUsers}" class="active " rendered="#{userBean.render}" />
                                </h:form>

                            </li>
                            <!--li-->
                        </ul>
                        <!--ul-->
                    </li>
                    <li>
                        <a href="#"  class="" id="Reports">  
                            <span class="text">
                                #{bundle.Repoerts}
                            </span>
                            <span class="icon">
                                <img src="../resources/images/menu2.png" alt=""/>
                            </span>
                            <!--icon-->
                            <span class="icon_arrow">
                                <img src="../resources/images/arrow.png" alt=""/>
                            </span>
                            <!--icon-->
                        </a>
                        <ul class="nav nav-pills nav-stacked nav-tree">
                            <li>
                                <h:form>
                                    <h:commandButton action="./CreateReport.xhtml?faces-redirect=true"  value="#{bundle.STRRep}" class="active "    />
                                </h:form>
                            </li>
                            <!--li-->
                            <li>
                                <h:form>
                                    <h:commandButton action="./CreateSAR.xhtml?faces-redirect=true"  value="#{bundle.SARREP}" class="active "   />
                                </h:form>
                            </li>
                            <li>
                                <h:form>
                                    <h:commandButton action="./CreateAIF.xhtml?faces-redirect=true"  value="#{bundle.AIFREPORT}" class="active "   />
                                </h:form>
                            </li>
                            <!--li-->
                        </ul>
                        <!--ul-->
                    </li>

                    <!--li-->
                    <li>
                        <a href="#"  class="" id="ExtractReports">  
                            <span class="text">
                                #{bundle.ExportReport}
                            </span>
                            <span class="icon">
                                <img src="../resources/images/menu1.png" alt=""/>
                            </span>
                            <!--icon-->
                            <span class="icon_arrow">
                                <img src="../resources/images/arrow.png" alt=""/>
                            </span>
                            <!--icon-->
                        </a>
                        <ul class="nav nav-pills nav-stacked nav-tree">
                            <li>
                                <h:form>

                                    <h:commandButton action="./ExtractReport.xhtml?faces-redirect=true"  value="#{bundle.ExportReport}" class="active " rendered="#{userBean.render}"/>
                                </h:form>

                            </li>
                        </ul>
                        <!--ul-->
                    </li>
                           <li>
                               <a href="#"  class="" id="SystemReports">  
                            
                            <span class="text" >
                                #{bundle.ReportMenu}
                            </span>
                            <span class="icon">
                                <img src="../resources/images/menu1.png" alt=""/>
                            </span>
                            <!--icon-->
                            <span class="icon_arrow">
                                <img src="../resources/images/arrow.png" alt=""/>
                            </span>
                            <!--icon-->
                        </a>
                        <ul class="nav nav-pills nav-stacked nav-tree">
                            <li>

                                <h:form>

                                    <h:commandButton action="./UploaadFiles.xhtml?faces-redirect=true"  value="#{bundle.UploadFiles}" class="active "  rendered="#{userBean.render}" />
                                </h:form>



                            </li>
                            <!--li-->
                            <li>
                                <h:form>

                                    <h:commandButton action="./ReviseFiles.xhtml?faces-redirect=true"  value="#{bundle.CheckFiles}" class="active "  rendered="#{userBean.render}"/>
                                </h:form>

                            </li>
                            <!--li-->
                        </ul>
                        <!--ul-->
                    </li>
                </ul>
                <!--nav-->
            </div>
            <!--col-->

        </ui:composition>
    </h:body>
</html>

