<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.AIFREPORT}</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">#{bundle.AIFREPORT}</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm">
                        <div class="container-fluid main_container">
                            <div class="row">
                                <!--                                <ui:include src="../Template/Menu.xhtml"></ui:include>-->
                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">#{bundle.AIFREPORT}</h3>
                                            <div class=" content_container col-sm-12  ">
                                                <p:accordionPanel >
                                                    <p:ajax event="tabChange" listener="#{SARBean.onTabChange}"  />
                                                    <p:ajax event="tabClose" listener="#{SARBean.onTabClose}"  />
                                                    <p:tab title="عميل البنك" id="TABBANK"  closable="false">
                                                        <div class="row line_bottom">
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.CustomerNo} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText   value="#{AIFBean.cusNumber}" required="true">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                               

                                                                    <div class="col-sm-6">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="col-sm-3"> 
                                                                                    <label> from</label>
                                                                                </div>
                                                                                <div class="col-sm-3">
                                                                                    <h:form>
                                                                                        <p:calendar value="#{AIFBean.start}" id="fromdate" required="true">
                                                                                            <p:ajax event="dateSelect" process="@this"/>
                                                                                        </p:calendar>

                                                                                    </h:form> 
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="col-sm-3">
                                                                                <label>TO</label>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <h:form>
                                                                                    <p:calendar id="lstdate" value="#{AIFBean.end}" required="true">
                                                                                        <p:ajax event="dateSelect" process="@this" />
                                                                                    </p:calendar>


                                                                                </h:form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                      
                                                       
                                                    </p:tab>


                                                </p:accordionPanel>

                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label> #{bundle.Reason}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form>
                                                                    <p:inputTextarea rows="3"  value="#{AIFBean.reason}" required="true">
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.Action} </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form>
                                                                    <p:inputTextarea rows="3" value="#{AIFBean.comments}" required="true" >
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <!--col-->
                                                </div>


                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">

                                                            <div class="col-sm-6">
                                                                <p:commandButton value="#{bundle.GetData}"  update=":mainFrm:form2:cases" actionListener="#{AIFBean.getdata}"/>

                                                                <!--                                                               <p:ajax event="valueChange"  process="@this"/>-->

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->

                                                </div>
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">
                                                        <h:form id="form2">
                                                            <p:dataTable id="cases"  selectionMode="single" rowKey="#{cases.FTRECID}"
                                                                         value="#{AIFBean.trans}" widgetVar="cases"  var="cases"   emptyMessage="#{bundle.NorecordsFound}" >

                                                                <p:column headerText="#{bundle.CustomerName}">
                                                                    <h:outputText value="#{cases.CUSCUSNAME}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.CustomerNID}">
                                                                    <h:outputText value="#{cases.CUSLEGAL_ID}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.CustomerNID}">
                                                                    <h:outputText value="#{cases.CUSADDRES1}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.AccountNo}">
                                                                    <h:outputText value="#{cases.ACCACCOUNT_NUMBER}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.Currency}">
                                                                    <h:outputText value="#{cases.FTDEBIT_CURRENCY}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransactionDate}">
                                                                    <h:outputText value="#{cases.FTPROCESSING_DATE}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransvalueDate}">
                                                                    <h:outputText value="#{cases.FTDEBIT_VALUE_DATE}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransAmount}">
                                                                    <h:outputText value="#{cases.FTDEBIT_AMOUNT}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransDescription}">
                                                                    <h:outputText value="#{cases.FTMBSC_NOTE}"></h:outputText>
                                                                </p:column>


                                                            </p:dataTable>

                                                        </h:form>
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->
                                                <p:commandButton  id="createRep"   value="#{bundle.CreateReport}" icon="ui-icon-circle-check"  actionListener="#{AIFBean.createxml}"  update=":growl"></p:commandButton>
                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->


                        </div>
                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>


