<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.CreateReport}</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Create SAR Reports</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm">
                        <div class="container-fluid main_container">
                            <div class="row">
                                <!--                                <ui:include src="../Template/Menu.xhtml"></ui:include>-->
                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">#{bundle.SARREP}</h3>
                                            <div class=" content_container col-sm-12  ">
                                                <p:accordionPanel >
                                                    <p:ajax event="tabChange" listener="#{SARBean.onTabChange}"  />
                                                    <p:ajax event="tabClose" listener="#{SARBean.onTabClose}"  />
                                                    <p:tab title="عميل البنك" id="TABBANK"  >
                                                        <div class="row line_bottom">
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.CustomerNo} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText   value="#{SARBean.cusNumber}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </p:tab>
                                                    <p:tab title="ليس عميل البنك" id="TABNONBANK">
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.FirstName}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.first_name}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.MiddleName} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText   value="#{SARBean.middle_name}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                        </div>
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.last_name}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.last_name}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.ssn} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText   value="#{SARBean.ssn}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                        </div>
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.tph_number}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.tph_number}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.address} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText   value="#{SARBean.address}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                        </div>
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.city}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.city}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.Gender} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:selectOneMenu id="gender" value="#{SARBean.gender}" style="text-align: center"  >
                                                                                <f:selectItem itemLabel="#{bundle.Gender}" itemValue="Male"  />
                                                                                <f:selectItem itemLabel="#{bundle.Male}" itemValue="Male"  />
                                                                                <f:selectItem itemLabel="#{bundle.Female}" itemValue="Female"  />
                                                                            </p:selectOneMenu>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                        </div>
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.dateofbirth}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.dateOfBirth}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.nationality}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.city}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->


                                                        </div>
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.occupation}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText    value="#{SARBean.occupation}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label>#{bundle.expiry_date} </label>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:inputText   value="#{SARBean.expiry_date}">
                                                                                <p:ajax event="valueChange"  process="@this"/>
                                                                            </p:inputText>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                        </div>
                                                        <div class="row line_bottom">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-sm-3">
                                                                        <label> #{bundle.significance}</label>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <h:form>
                                                                            <p:selectOneMenu id="country" value="#{SARBean.significance}" style="text-align: center"  >
                                                                                <f:selectItem itemLabel="#{bundle.significance}" itemValue="1"  />
                                                                                <f:selectItem itemLabel="1" itemValue="1"  />
                                                                                <f:selectItem itemLabel="2" itemValue="2"  />
                                                                                <f:selectItem itemLabel="3" itemValue="3"  />
                                                                                <f:selectItem itemLabel="4" itemValue="4"  />
                                                                                <f:selectItem itemLabel="5" itemValue="5"  />
                                                                                <f:selectItem itemLabel="6" itemValue="6"  />
                                                                                <f:selectItem itemLabel="7" itemValue="7"  />
                                                                                <f:selectItem itemLabel="8" itemValue="8"  />
                                                                                <f:selectItem itemLabel="9" itemValue="9"  />
                                                                                <f:selectItem itemLabel="10" itemValue="10"  />
                                                                            </p:selectOneMenu>
                                                                        </h:form>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </p:tab>
                                                </p:accordionPanel>

                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label> #{bundle.Reason}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form>
                                                                    <p:inputTextarea rows="3"  value="#{SARBean.reason}">
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.Action} </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form>
                                                                    <p:inputTextarea rows="3" value="#{SARBean.action}"  >
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label> #{bundle.comments}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form>
                                                                    <p:inputTextarea rows="3"  value="#{SARBean.comments}">
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    
                                                </div>


                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">

                                                            <div class="col-sm-6">
                                                                <p:commandButton value="#{bundle.GetData}"  update=":growl" actionListener="#{SARBean.BankCustomer}"/>

                                                                <!--                                                               <p:ajax event="valueChange"  process="@this"/>-->

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->

                                                </div>
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">
                                                        <h:form id="form2">
                                                            <p:dataTable id="cases" value="#{ReportBean.firstLS}" widgetVar="cases"  var="cases"   emptyMessage="#{bundle.NorecordsFound}">




                                                                <p:column headerText="#{bundle.first_name}">
                                                                    <h:outputText value="#{cases.CUSCUSNAME}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.last_name}">
                                                                    <h:outputText value="#{cases.ACCACCOUNT_NUMBER}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.CustomerName}">
                                                                    <h:outputText value="#{cases.FTRECID}"></h:outputText>
                                                                </p:column> 

                                                                <p:column headerText="#{bundle.NationalID}">
                                                                    <h:outputText value="#{babies.TransMarker}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.Phone}">
                                                                    <h:outputText value="#{cases.FTDEBIT_CURRENCY}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.address}">
                                                                    <h:outputText value="#{babies.TransMarker}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.reason}">
                                                                    <h:outputText value="#{babies.TransMarker}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.Action}">
                                                                    <h:outputText value="#{babies.TransMarker}"></h:outputText>
                                                                </p:column>
                                                            </p:dataTable>
                                                        </h:form>
                                                    </div>

                                                </div>
                                                <!--line_bottom-->

                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->


                        </div>
                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>


