<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.EditReport}</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Edit STR Report</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm">
                        <div class="container-fluid main_container">
                            <div class="row">

                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">#{bundle.EditReport}</h3>
                                            <div class=" content_container col-sm-12  ">
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label> #{bundle.TransactionREf}</label>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <h:form id="trans">
                                                                    <p:inputText   requiredMessage="#{bundle.TransREfRequiredErr}" value="#{ReportBean.transNumber}" id="trans">
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputText>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.CustomerNo} </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form id="cusNo">
                                                                    <p:inputText   requiredMessage="#{bundle.TransREfRequiredErr}" value="#{ReportBean.cusNumber}" id="cusNo">
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputText>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--col-->
                                                </div>

                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label> #{bundle.Reason}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form id="reason">
                                                                    <p:inputTextarea rows="3"  value="#{ReportBean.reason}" id="reason" >
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.Action} </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:form id="action">
                                                                    <p:inputTextarea rows="3" value="#{ReportBean.action}" id="action" >
                                                                        <p:ajax event="valueChange"  process="@this"/>
                                                                    </p:inputTextarea>
                                                                </h:form>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <!--col-->
                                                </div>
                                 
                                 
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">

                                                            <div class="col-sm-6">
                                                                <p:commandButton value="#{bundle.AddTrans}"   update=":mainFrm:form2:cases :mainFrm:action:action :mainFrm:reason:reason :mainFrm:cusNo:cusNo :mainFrm:trans:trans" actionListener="#{ReportBean.addToTransList(event)}" icon="ui-icon-circle-plus"/>
<!--                                                                <p:commandButton value="#{bundle.GetData}"   update=":mainFrm:form2:cases" actionListener="#{ReportBean.getData}"/>-->

                                                                <!--                                                               <p:ajax event="valueChange"  process="@this"/>-->

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                </div>

                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">
                                                        <h:form id="form2">
                                                            <p:dataTable id="cases" selection="#{ReportBean.selecttedCase}" selectionMode="single" rowKey="#{cases.FTRECID}"
                                                                         value="#{ReportBean.firstLS}" widgetVar="cases"  var="cases"   emptyMessage="#{bundle.NorecordsFound}" >

                                                                <p:ajax event="rowSelect"  listener="#{ReportBean.onRowSelect}" update="cases" 
                                                                        process="@this"  
                                                                        />
                                                                <p:column headerText="#{bundle.CustomerName}">
                                                                    <h:outputText value="#{cases.CUSCUSNAME}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.CustomerNID}">
                                                                    <h:outputText value="#{cases.CUSLEGAL_ID}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.CustomerNID}">
                                                                    <h:outputText value="#{cases.CUSADDRES1}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.AccountNo}">
                                                                    <h:outputText value="#{cases.ACCACCOUNT_NUMBER}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.Currency}">
                                                                    <h:outputText value="#{cases.FTDEBIT_CURRENCY}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransactionDate}">
                                                                    <h:outputText value="#{cases.FTPROCESSING_DATE}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransvalueDate}">
                                                                    <h:outputText value="#{cases.FTDEBIT_VALUE_DATE}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransAmount}">
                                                                    <h:outputText value="#{cases.FTDEBIT_AMOUNT}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.TransDescription}">
                                                                    <h:outputText value="#{cases.FTMBSC_NOTE}"></h:outputText>
                                                                </p:column>


                                                            </p:dataTable>

                                                        </h:form>

                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="createRep"   value="#{bundle.CreateReport}" icon="ui-icon-circle-check"  actionListener="#{ReportBean.getData}"  update=":growl"></p:commandButton>
                                                    <p:commandButton  id="removeTrans"   value="#{bundle.RemoveTransaction}" icon="ui-icon-circle-close"  actionListener="#{ReportBean.removeTrans}"  update=":growl :mainFrm:form2:cases" ></p:commandButton>
                                                    <p:commandButton  id="save"   value="#{bundle.SaveforHold}" icon="ui-icon-disk"   update=":growl :mainFrm:form2:cases" ></p:commandButton>
                                                    <!--line_bottom-->
                                                </div>
                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->


                        </div>
                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>

