<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.ExportReport}</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Extract  Reports</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm"> 
                        <div class="container-fluid main_container">
                            <div class="row">



                                <!--                                <ui:include src=".././Template/Menu.xhtml"></ui:include>-->



                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">#{bundle.ExportReport}</h3>
                                            <div class=" content_container col-sm-12  ">




                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">
                                                        <h:form id="form2">
<!--                                                            <h:selectOneRadio value="#{extractBean.exportOption}">
                                                                <f:selectItem itemValue="PDF" itemLabel="PDF"/>
                                                                <f:selectItem itemValue="HTML" itemLabel="HTML"/>
                                                                <f:selectItem itemValue="RTF" itemLabel="RTF"/>
                                                            </h:selectOneRadio>-->
                                                            <p:dataTable id="reports" value="#{extractBean.files}" widgetVar="reports"  var="reports"   emptyMessage="#{bundle.NorecordsFound}"
                                                                         selection="#{extractBean.selectedFile}" paginator="true" rows="15" selectionMode="single" rowKey="#{reports.id}">
                                                                <p:ajax event="rowSelect"  listener="#{extractBean.onRowSelect}" update="reports" 
                                                                        process="@this"  
                                                                        />
                                                                <p:ajax event="rowUnselect" listener="#{extractBean.onRowUnselect}" 
                                                                        process="@this" />



                                                                <p:column headerText="#{bundle.ReportRef}"  filterBy="#{reports.id}" filterMatchMode="contains">
                                                                    <h:outputText value="#{reports.id}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.ReportType}" filterBy="#{reports.reportType}" filterMatchMode="contains">
                                                                    <h:outputText value="#{reports.reportType}"></h:outputText>
                                                                </p:column>


                                                                <p:column headerText="#{bundle.Reason}">
                                                                    <h:outputText value="#{reports.reason}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.Action}">
                                                                    <h:outputText value="#{reports.action}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.inputter}" filterBy="#{reports.inputter}" filterMatchMode="contains">
                                                                    <h:outputText value="#{reports.inputter}"></h:outputText>
                                                                </p:column>

                                                                <f:facet name="footer">
                                                                    <p:commandButton  id="View"  ajax="false" onclick="PrimeFaces.monitorDownload(null, stop);"  value="#{bundle.DownloadFile}" icon="ui-icon-circle-arrow-s"  >

                                                                        <p:fileDownload value="#{extractBean.download}"    />

                                                                    </p:commandButton>
                                                                    <h:commandButton  action="#{extractBean.execute}" value="#{bundle.ShowRep}" styleClass="ui-button"/>
                                                                    <p:commandButton  id="downLib"  ajax="false" onclick="PrimeFaces.monitorDownload(null, stop);"  value="#{bundle.downloadLibarary}" icon="ui-icon-circle-arrow-s"  >

                                                                        <p:fileDownload value="#{extractBean.downloadLibarary}"    />

                                                                    </p:commandButton>
                                                                    <p:commandButton  id="returnToUser"  immediate="true" type="button" onclick="PF('dlg3').show();"  value="#{bundle.returnToInputter}" icon="ui-icon-transferthick-e-w" disabled="#{extractBean.selectedFile eq null}" update="mainFrm:dlg3" >

                                                                        

                                                                    </p:commandButton>
                                                                </f:facet>


                                                            </p:dataTable>

                                                        </h:form>
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->

                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->

              <p:dialog id="dlg3"  widgetVar="dlg3" modal="true" resizable="false" header="#{bundle.returnToInputter}"
                              closeOnEscape="true" dir="rtl" showEffect="clip">
                  <p:inputText value="#{extractBean.returnReason}" ></p:inputText>
                  <p:commandButton value="#{bundle.returnReason}" actionListener="#{extractBean.returnToUser}"></p:commandButton>
              </p:dialog>
                        </div>
          
                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>

