<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template=".././Template/common.xhtml">


            <ui:define name="title">
                Home 
            </ui:define>             
            <ui:define name="content">
                <div class="container-fluid main_container">
                    <div class="row">



                        <!--                                <ui:include src=".././Template/Menu.xhtml"></ui:include>-->



                        <div class="col-sm-10  col-sm-offset-2">
                            <div class="row">
                                <div class="contnent_wrapper col-sm-12">
                                    <h3 class="page_header">تقارير الفترة الحالية</h3>
                                    <div class=" content_container col-sm-12  ">




                                        <!--line_bottom-->
                                        <div class="row line_bottom" style="margin-top: 50px;">
                                            <!--                                            <div class="col-sm-3">
                                                                                            <img src="../resources/images/database.png" alt=""/>
                                            
                                                                                            
                                                                                        </div>-->
                                            <!--col-->

                                            <div class="col-sm-7" >
                                                <div class="row">
                                                    <div class="col-sm-1" style="font-size: 16px;">
                                                        #{bundle.youhave}
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-3 alert alert-success">
                                                        2 تقرير للاستخراج
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-3">

                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--row-->
                                            </div>
                                            <!--col-->
                                            <div class="col-sm-5">
                                                
                                                <p:chart type="pie" model="#{chartView.pieModel1}" style="width:400px;height:300px" />

<!--                                                <p:chart type="pie" model="#{chartView.pieModel2}" style="width:400px;height:300px" />-->
                                            </div>
                                        </div>
                                        <!--line_bottom-->

                                    </div>
                                    <!--content_container-->
                                </div>
                                <!--contnent_wrapper-->
                            </div>
                        </div>
                        <!--col-->
                    </div>
                    <!--row-->


                </div>
                <!--container-->


            </ui:define>
        </ui:composition>

    </body>

</html>
