<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
      <h:form id="form" target="_blank">
                <h:outputLabel>Export Report</h:outputLabel>
                <h:selectOneRadio value="#{reportsBean.exportOption}">
                    <f:selectItem itemValue="PDF" itemLabel="PDF"/>
                    <f:selectItem itemValue="HTML" itemLabel="HTML"/>
                    <f:selectItem itemValue="EXCEL" itemLabel="EXCEL"/>
                    <f:selectItem itemValue="RTF" itemLabel="RTF"/>
                </h:selectOneRadio>
                <h:commandButton  action="#{reportsBean.execute}" value="Get Report" />
            </h:form>
    </h:body>
</html>

