<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <h:head>
        <title>Reports Enquiry</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Create User</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm">
                        <div class="container-fluid main_container">
                            <div class="row">
                                <!--                                <ui:include src="../Template/Menu.xhtml"></ui:include>-->
                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">استعلام عن تقارير سابقة</h3>
                                            <div class=" content_container col-sm-12  ">
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.UserName}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p:inputText styleClass="form-control" value="#{RepEnqBean.inputter}"/>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                  
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.ReportType} </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p:inputText styleClass="form-control" value="#{RepEnqBean.repType}">
                                                                </p:inputText>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--col-->
                                                  
                            
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.ReportRef}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p:inputText styleClass="form-control" value="#{RepEnqBean.repId}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                
                                                    <!--col-->
                                                </div>
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.fromDate}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p:inputText styleClass="form-control" value="#{RepEnqBean.repFromDate}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <label>#{bundle.toDate}</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p:inputText styleClass="form-control" value="#{RepEnqBean.repToDate}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                </div>
                               
                                                <!--line_bottom-->
                                                <h:form target="_new"> 
                                                <h:commandButton  action="#{RepEnqBean.execute}" value="#{bundle.ShowRep}" styleClass="ui-button" />
                                                </h:form>
                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->


                        </div>
                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>

