<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.ReturnedReports}</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Returned  Reports</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm"> 
                        <div class="container-fluid main_container">
                            <div class="row">



                                <!--                                <ui:include src=".././Template/Menu.xhtml"></ui:include>-->



                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">#{bundle.ReturnedReports}</h3>
                                            <div class=" content_container col-sm-12  ">




                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">
                                                        <h:form id="form2">
                                                            <p:dataTable id="reports" value="#{returnedRep.returnedReportses}" widgetVar="reports"  var="reports"   emptyMessage="#{bundle.NorecordsFound}"
                                                                         selection="#{returnedRep.selectedReport}" paginator="true" rows="15" selectionMode="single" rowKey="#{reports.REPORT_ID}">
                                                                <p:ajax event="rowSelect"  listener="#{returnedRep.onRowSelect}" update="reports" 
                                                                        process="@this"  
                                                                        />
                                                                <p:ajax event="rowUnselect" listener="#{returnedRep.onRowUnselect}" 
                                                                        process="@this" />

                                                                <p:column headerText="#{bundle.ReportRef}">
                                                                    <h:outputText value="#{reports.REPORT_ID}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.ReportType}" >
                                                                    <h:outputText value="#{reports.REPORT_TYPE}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.Reason}">
                                                                    <h:outputText value="#{reports.REPREASON}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.ReturnedFrom}">
                                                                    <h:outputText value="#{reports.RETURN_FROM}"></h:outputText>
                                                                </p:column>


                                                                <p:column headerText="#{bundle.dateofReport}" >
                                                                    <h:outputText value="#{reports.DATE_TIME}"></h:outputText>
                                                                </p:column>

                                                                <f:facet name="footer">

                                                                    <h:commandButton  action="#{returnedRep.execute}" value="#{bundle.ShowRep}" styleClass="ui-button"/>
                                                                    <p:commandButton  id="deleteRep"  value="#{bundle.deleteReport}" icon="ui-icon-circle-close" disabled="#{returnedRep.selectedReport eq null}" >
                                                                    </p:commandButton>
                                                                    <h:button value="Go to details" outcome="EditSARReport">
                                                                        <f:param name="repId" value="#{returnedRep.selectedReport.REPORT_ID}" />
                                                                    </h:button>
                                                                </f:facet>

                                                            </p:dataTable>

                                                        </h:form>
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->

                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->
                            <!--
                                                        <p:dialog id="dlg3"  widgetVar="dlg3" modal="true" resizable="false" header="#{bundle.returnToInputter}"
                                                                  closeOnEscape="true" dir="rtl" showEffect="clip">
                                                            <p:inputText value="#{extractBean.returnReason}" ></p:inputText>
                                                            <p:commandButton value="#{bundle.returnReason}" actionListener="#{extractBean.returnToUser}"></p:commandButton>
                                                        </p:dialog>-->
                        </div>

                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>

