<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>

    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Revise Uploaded Files</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm"> 
                        <div class="container-fluid main_container">
                            <div class="row">
                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">#{bundle.ReviseFiles}</h3>
                                            <div class=" content_container col-sm-12  ">
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">

                                                        <h:form >
                                                            <p:dataTable id="files" value="#{reviseFiles.files}" widgetVar="reports"  var="reports"   emptyMessage="#{bundle.NorecordsFound}"
                                                                         paginator="true" rows="15" 
                                                                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                                                                         >

                                                                <f:facet name="{Exporters}">
                                                                    <h:commandButton value="#{bundle.ExportInExcel}" >
                                                                      
<!--                                                                        <p:graphicImage name="../resources/images/Graphicloads-Filetype-Excel-xls.png" width="24"/>-->
                                                                        <p:dataExporter type="xls" target="files" fileName="UploadedFilesHistory" postProcessor="#{reviseFiles.postProcessXLS}"/>
                                                                  </h:commandButton>

                                                                  
                                                              
                                                                </f:facet> 

                                                                <p:column headerText="#{bundle.FileName}"  filterBy="#{reports.id}" filterMatchMode="contains">
                                                                    <h:outputText value="#{reports.fileName}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.TOTAL_ROWS}" >
                                                                    <h:outputText value="#{reports.totalRows}"></h:outputText>
                                                                </p:column>


                                                                <p:column headerText="#{bundle.ACCEPTED_ROWS}">
                                                                    <h:outputText value="#{reports.acceptedRows}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.REJECTED_ROWS}">
                                                                    <h:outputText value="#{reports.rejectedRows}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="#{bundle.DATE_TIME}" >
                                                                    <h:outputText value="#{reports.dateTime}"></h:outputText>
                                                                </p:column>

                                                                <p:column headerText="#{bundle.STATUS}" filterBy="#{reports.status}" filterMatchMode="contains">
                                                                    <h:outputText value="#{reports.status}"></h:outputText>
                                                                </p:column>






                                                            </p:dataTable>

                                                 
                                                        </h:form>
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->

                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>



                        </div>

                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>

