<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{bundle.UploadFiles}</title>
    </h:head>
    <h:body>
        <body>
            <ui:composition template=".././Template/common.xhtml">
                <ui:define name="title">Upload Files</ui:define>

                <ui:define name="content">
                    <h:form id="mainFrm">
                        <div class="container-fluid main_container">
                            <div class="row">
                                <ui:include src="../Template/Menu.xhtml"></ui:include>
                                <div class="col-sm-10  col-sm-offset-2">
                                    <div class="row">
                                        <div class="contnent_wrapper col-sm-12">
                                            <h3 class="page_header">انشاء مستخدم جديد</h3>
                                            <div class=" content_container col-sm-12  ">
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>اسم المستخدم</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>اسم المستخدم</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>اسم المستخدم</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>اسم المستخدم</label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->
                                                <div class="row line_bottom">
                                                    <div class="col-sm-12">
                                                        data table
                                                    </div>
                                                    <!--col-->
                                                </div>
                                                <!--line_bottom-->
                                                
                                            </div>
                                            <!--content_container-->
                                        </div>
                                        <!--contnent_wrapper-->
                                    </div>
                                </div>
                                <!--col-->
                            </div>
                            <!--row-->
                            

                        </div>
                        <!--container-->

                    </h:form>

                </ui:define>
            </ui:composition>

        </body>
    </h:body>
</html>

