<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        
        <title><ui:insert name="title"> GoAML Interface  </ui:insert></title>
        <!--the global.css file should be defined here to override  primefaces css-->
        <f:facet name="last">
            <h:outputStylesheet library="default" name="css/bootstrap-arabic.css" />
            <h:outputStylesheet library="default" name="css/global.css" />
        </f:facet>


    </h:head>
    <p:growl id="growl" life="10000" autoUpdate="true"/>
    <h:body dir="LTR">

        <div id="page">
            <div class="main_wrapper clearfix">
                <div id="header">
                    <ui:insert name="header" >
                        <ui:include src="../Template/header.xhtml"></ui:include>
                    </ui:insert>
                </div>
                <!--header-->


                <div id="content">
                    <ui:insert name="content" >

                    </ui:insert>
                </div>
                <!--content-->

                <div id="footer">
                    <ui:insert name="footer" >

                        <ui:include src="../Template/footer.xhtml"></ui:include>
                    </ui:insert>
                </div>
                <!--footer-->
            </div>
            <!--main_wrapper-->
        </div>
        <!--page-->
        <!--        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../resources/js/bootstrap-treenav.js"></script>
        <script type="text/javascript" src="../resources/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="../resources/js/initial.js"></script>
    </h:body>
</html>

