<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body dir="ltr">
        <!--header template-->
        <ui:composition>
            

            <ui:include src="../Template/Menu.xhtml"></ui:include>
            <h:form>
                <div class="header_container">
                    <div class=" header">
                        <div class="logo ">
                            <img src="../resources/images/logo.png" alt=""/>
                        </div>

                        <div class="header_content">

                            <div class="main_title">
                                <img src="../resources/images/main_title.png" alt=""/>
                            </div>
                            <!--main_title-->
                              <div class="user_Wrapper">
                                <a href="" class="">
                                    <div class="user_name_wrapper">
                                        <span class="icon">
                                            <img src="../resources/images/person.png" alt=""/>
                                        </span>
                                        <span class="text">
                                           
                                            #{userBean.userName}
                                        </span>
                                        <span class="arrow">
                                            <img src="../resources/images/arrow.png" alt=""/>
                                        </span>
                                    </div>
                                    <!--user_name-->
                                    <ul class="dropdown-menu">
                                        <li class="drop_arrow">
                                            <img src="../resources/images/drop_arrow.png" alt=""/>
                                        </li>
                                        <li>Settings</li>
                                        <li>
                                            <h:commandButton value="Logout" action="#{userBean.logout}" styleClass="log_out"></h:commandButton> 
                                        </li>
                                    </ul>

                                </a>

                            </div>
                            <!--user_Wrapper-->
                        </div>

                    </div>
                    <!--header-->

                </div>
            </h:form>
            <!--container-->
        </ui:composition>


    </body>
</html>

