/*genral*/
@font-face { font-family: 'Droid Arabic Kufi'; src: url("../fonts/DroidKufi-Regular.eot"); src: url("../fonts/DroidKufi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidKufi-Regular.woff") format("woff"), url("../fonts/DroidKufi-Regular.woff2") format("woff2"), url("../fonts/DroidKufi-Regular.ttf") format("truetype"), url("../fonts/DroidKufi-Regular.svg#Droid Arabic Kufi") format("svg"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Droid Arabic Kufi'; src: url("../fonts/DroidKufi-Bold.eot"); src: url("../fonts/DroidKufi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidKufi-Bold.woff") format("woff"), url("../fonts/DroidKufi-Bold.woff2") format("woff2"), url("../fonts/DroidKufi-Bold.ttf") format("truetype"), url("../fonts/DroidKufi-Bold.svg#Droid Arabic Kufi") format("svg"); font-weight: 700; font-style: normal; }
/*global styles*/
.go-right { float: right; }
.go-left { float: left; }
.bold{ font-weight: bold}
/*colors*/
.white{ color: #fff}
.blue{ color: #2a3f54}

/**/
.icon img , .img img{ float: right; display: block;}
.no_padding{ padding: 0}
.border_right{ border-right: 1px solid #c8c9ca;}
.border_left{ border-left: 1px solid #c8c9ca;}
.border_top{ border-top: 1px solid #c8c9ca;}
/*resets*/
.form-control{ height: 30px; padding: 3px 12px; font-size: 12px;}
/**/
body { background:#f7f7f7;  font-family: 'Droid Arabic Kufi', sans-serif !important; font-size: 12px; }
.main_nav{height:60px; background:#ededed; z-index: 1000 !important}
.main_nav .logo_container{width: 100%; float: right; background: #fff; overflow: hidden}
.main_nav .logo_container .logo{width:100% ; height:60px ; float: right;  ; background: #182838;}
.main_nav .logo_container .logo img{  display: block; margin-left: auto; margin-right: auto;}
.main_nav .title{ float: right; margin: 15px 0 0 0 ; font-size: 16px;}
.main_nav .left_content{ float: left; margin: 20px 0 0 0}
.main_nav .left_content a{font-size: 14px; color:#2a3f54;}
.main_nav .left_content a:hover{text-decoration: none}
.main_nav .left_content .dropdown-menu{ right:-300%;}
.main_nav .left_content .log_out{ float: left; margin: 0 0 0 15px; background: none; border:none; box-shadow: none}
.main_nav .left_content .text{ float: right; color: #004458; text-shadow: 0 1px #00afeb; font-weight: bold; }
.main_nav .left_content .icon{ float: left; margin: 2px 5px 0 0}
.main_nav .left_content .separator{ width: 2px; height:35px ; float: left; margin: -5px 8px 0 8px}
/*username*/
.main_nav .left_content .username{ float: left;}
.main_nav .left_content .username .icon{ float: right; margin: 0 0 0 8px}
.main_nav .left_content .username .name{ float: left}

/*main_container*/
.main_container{ margin-top: 60px}

/*side_nav*/
.side_nav{  background: #182838; float: right ; box-shadow: 2px 0 0  #c4d983 inset; position: fixed; top: 60px; z-index: 100 }
.side_nav .sidebar.nav{ margin-top: 30px;}
/*.side_nav .sidebar.nav > li > a{width: 99%; color: #fff ; border-radius: 0 ; font-weight: bold; font-size: 14px;}*/
.side_nav .sidebar.nav > li > a .icon{ float: right; margin: 3px 0 0 12px}
.side_nav .sidebar.nav > li >  input{width: 99%; color: #fff ; border-radius: 0 ; font-weight: bold; font-size: 14px;}

.side_nav .sidebar.nav > li > a .icon_arrow{ float: left}
.side_nav .sidebar.nav > li > a, .side_nav .sidebar.nav > li > a:focus { background: #172d44 ; color: #fff; }
.side_nav .sidebar.nav > li .nav li a{ color: #fff ; border-radius: 0}
.side_nav .sidebar.nav > li .nav li a:hover{ background: #c4d983 ; color: #2a3f54;}

/*side nav for tabs*/
ul.tabs_menu{ margin-top: 80px}
.nav-tree li {width: 98%;}
.nav-tree li input{width:100%; float: right; background: none; padding:8px; text-align: right; color:#fff; box-shadow: none; border: none;}
.nav-tree li input:hover{ background: #c4d983 ; color: #2a3f54;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{ background: #fff}
.nav-pills > li.active > a .text, .nav-pills > li.active > a:hover .text, .nav-pills > li.active > a:focus .text{ color: #03a1d5}

/*page_header*/
.page_header{margin: 15px 0}


/*content_wrapper*/
.contnent_wrapper{ position: relative; margin-top: 15px ;position: relative}
.content_container{ background: #fff; border: 1px solid #c2c2c2; padding-bottom: 15px ;  padding-top: 15px ; border-radius: 3px; /*box-shadow: 0 0px 2px 0 #b7b7b7;*/ position: relative; z-index: 1}
.back_white{ width: 90%; height: 30px; margin: 0 auto; background: #fff;  border: 1px solid #c2c2c2; border-radius: 3px; box-shadow: 0 0px 2px 0 #b7b7b7; position: absolute; bottom: -7px; right: 0; left: 0; z-index: 0; }
.back_gray{ width: 50%; height: 10px; margin: 0 auto; background: #c7c7c7;  border: 1px solid #a9a9a9; border-radius: 3px; box-shadow: 0 0px 2px 0 #c1c1c1; position: absolute; bottom: -12px; right: 0; left: 0; z-index: -1; }
/*table_wrapper*/
.table_wrapper{width: 100%; float: right; margin: 15px 0 0 0; border: 1px solid #c8c9ca; border-radius: 3px; box-shadow:0 0px 1px 0 #d1d1d1 ; position: relative}
.table_wrapper .table_header{width: 100%; height:42px ; float: right; /*background:  url(../images/table_head.png) repeat-x;*/ border-bottom: 1px solid #c8c9ca; border-radius: 3px 3px 0 0; box-shadow: 0 1px 0 #f3f3f3;}
.table_wrapper .table_header .title{ float: right; color: #88b21f; line-height: 42px; margin: 0 10px 0 0; font-weight: bold}
.table_wrapper .table_content{ width: 100%; float: right; padding-bottom: 10px;  position: relative}
.table_wrapper .table_content.half{ background: url(../images/hr_line.png) repeat-y  center top}

 .line_bottom{ border-bottom: 1px solid #c8c9ca; padding: 10px 0}
/*.table_wrapper .line_bottom:nth-child(odd){ background: #f8f8f8}*/
.line_bottom:last-child{ border-bottom: 1px solid #fff}
.line_bottom label{ color: #494949; font-weight: normal; margin: 5px 0 0 0 }
.line_bottom .form_group{width: 100%; float: right; margin: 8px 0;}
 /*btns*/
.btn-green ,  .btn-green:hover{ background: #aac065; color:#fff}
.center-block{margin: 0 auto; float: none}
.msg_alert{ margin: 20px 0; }
.user_img{width: 100%; float: right;}
.user_img img{width: 100%; float: right}

/*log in*/
.login-wrapper{width: 400px; margin: 100px auto 70px}
.login_logo{width: 300px; margin: 60px auto 0;}
.login_logo img{  display: block;  margin: 0 auto}
.login_wrapper{width: 300px; margin: 20px auto; padding: 0 15px ; background: #fff; border:1px solid #e2e2e2}
.login_header{ padding: 12px;background: #f7f7f7; text-align: center; font-size: 14px; font-weight: bold; border-bottom: 1px solid #e2e2e2;}
.login_footer{ width: 100%; float: right; text-align: center}
.footer{ text-align: center}
.control-label  { display: none}

.ui-growl{ z-index: 2000 !important}